.b1{
    color: rgb(240, 76, 76);
    background-color: rgb(251, 255, 250);
    display: flex;
    align-items: center;
    margin-left: 630px;
    margin-bottom: 500px;
    font-weight: bold;
    border-radius: 5px;
    
}

.h1{
    margin-left: 600px;
    color: rgb(16, 55, 228);
    margin-top: 500px;
}

.p1{
    margin-left: 540px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    
}

.i1{
    margin-bottom: 100%;
    justify-content: center;
    align-content: center;
    display: flex;
    margin-left: 35px;
    
}





